.comparison-word {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.matched {
  color: #00ff00;
  font-weight: normal;
  text-shadow: 0 0 3px rgba(0, 255, 0, 0.5);
}

.mismatched {
  color: #ff0000;
  font-weight: normal;
}

.underline {
  text-decoration: underline;
}