.comparison-word {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.matched {
  color: #00ff00;
  font-weight: bold;
}

.mismatched {
  color: #ff0000;
  font-weight: normal;
}

.underline {
  text-decoration: underline;
}

.current-paragraph {
  opacity: 1;
}

.previous-paragraph,
.next-paragraph {
  opacity: 0.5;
  transition: opacity 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
  color: #ff0000;
  font-weight: normal;
  pointer-events: none;
}
